@import '~bootstrap/scss/bootstrap.scss';

body {
  background-repeat: no-repeat;
  background: url('../img/winter.jpg');
  height: 100vh;
  background-position: center;
}

.spinner-center {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}